.Cube {
    background-color:rgb(96, 97, 103);
}
.container{
    display:flex;
    width:100%;
    height: 100vh;
}
.control-bar{
    display:flex;
    width:40%;
    background-color: rgb(46, 47, 56);
    display:flex;
    align-items:center;
    justify-content:center;
}
.canvas{
    height:100%;
    width:60%;
}
canvas{
  width:100%;
}
.controls{
    padding:20px;
    width:100%;
}
.controls .box{
    background-color:aliceblue;
    padding:20px;
}
button{
    background-color:transparent;
    border-style:solid;
    color:aliceblue;
    padding:20px;
    width:176px;
    margin-top:20px;
    outline:none;
}
button:hover {
    transition:all 300ms ease;
    cursor:pointer;
    background:aliceblue;
    color:#2e2f38;
}
input {
  width: calc(100% - 330px);
  padding: 20px;
  margin-right: 20px;
}
.colorPicker {
    display: inline-block;
    width: 62px;
    height: 62px;
    background-color: aliceblue;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 20px;

}

.color-picker-modal {
    position: absolute;
    top: 200px;
    left: 300px;
}

.color-picker-modal.closed {
    display:none;
}
