<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Canvas test</title>

    <style type="text/css">
        canvas {
            border: 1px dotted white;
            border-radius: 0px;
            background: rgb(40, 44, 52);
            opacity: 1;
        }
        body {
            margin: 0;
        }

    </style>


</head>

<body>
    <canvas></canvas>
    <script src="./Canvas.js"></script>
    
</body>

</html>